* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9984D4;
}

.container {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 800px;
  border: 3px solid rgb(0, 0, 0);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  background-color: #59138a;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  min-width: 2px;
  min-height: 2px;
  background-color: #230C33;
  border: 1px solid black;
  cursor: pointer;
}

.start-btn {
  cursor: pointer;
  width: 160px;
  height: 40px;
  background-color: #CAA8F5;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 18px;
}

.start-btn:hover {
  background-color: #9267ca;
}
